.btn {
  @apply text-base font-medium rounded-lg p-3;
}

.btn--primary {
  @apply bg-sky-500 text-white;
}

.btn--secondary {
  @apply bg-gray-100 text-gray-900;
}

*{
  font-family: SF-Pro-Text-Medium;
  color: rgb(0, 0, 0);
}

.title{
  font-family: SF-Pro-Display-Bold;
  color: #ef4444;
}
.subtitle{
  font-family: SF-Pro-Text-Bold;
  color: rgb(0, 0, 0);
}

.my-text{
  font-family: SF-Pro-Text-Medium;
  color: rgb(0, 0, 0);
}