@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: local('SF-Pro-Display-Bold'), url(./fonts/SF-Pro-Display-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: local('SF-Pro-Text-Bold'), url(./fonts/SF-Pro-Text-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'SF-Pro-Text-Medium';
  src: local('SF-Pro-Text-Medium'), url(./fonts/SF-Pro-Text-Medium.otf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
